[phases.setup]
nixPkgs = ["python311", "ffmpeg"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "PYTHONPATH=/app/src uvicorn podscript_api.main:app --host 0.0.0.0 --port ${PORT:-8001}"
